@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes appear-left {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes disappear-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  @keyframes appear-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes disappear-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .animate-appear-left {
    animation: appear-left 1s forwards;
  }

  .animate-disappear-left {
    animation: disappear-left 1s forwards;
  }

  .animate-appear-right {
    animation: appear-right 1s forwards;
  }

  .animate-disappear-right {
    animation: disappear-right 1s forwards;
  }
